html, body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    background: linear-gradient(
        to right, 
        rgb(178, 226, 255),
        rgb(145, 191, 217)
        );
}
.pageSelector {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 11%;
    background: linear-gradient(
        to right, 
        rgb(80, 192, 255),
        rgb(49, 148, 255)
        )
}